<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table>
   <th:block th:each="user : ${allUsers}">
      <tr>
         <td th:text="${user.id}">...</td>
         <td th:text="${user.name}">...</td>
         <td th:text="${user.utype}">...</td>
      </tr>
   </th:block>
</table>

<form action="#" th:action="@{/registerUser}" th:object="${user}" method="post" >
	<h1 th:text="*{utype}"></h1>
   <select th:field="*{utype}" >
      <option th:each="usertype : ${UserTypes}"
             th:text="${usertype.type}"
     th:value="${usertype}">
    </option>
    </select>
     <label for="id">Id (Optional)</label>
     <input type="text" th:field="*{id}" name="id" />
     <label for="name">Name</label>
     <input type="text" th:field="*{name}" name="name" />
   <button type="submit" name="addUser">Add user</button>
</form>
</body>
</html>